{% extends 'parqueos/base.html' %}

    {% block content %}
    {% if user.is_authenticated %}
       <a class="btn btn-default" href=""><span class="glyphicon glyphicon-pencil"></span></a>
       {%else%}
       <h1>Iniciar sesion para Editar</h1>
       {% endif %}
        <h1>Nuevo Ingreso</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit" class="save btn btn-default">Guardar</button>
        </form>
    {% endblock %}
